.prompt-tips {
    margin-top: 30px;
    text-align: center
}

    .prompt-tips .layui-icon[face] {
        display: inline-block;
        font-size: 300px;
        color: #393D49;
    }

    .prompt-tips .layui-text {
        width: 500px;
        margin: 30px auto;
        padding-top: 20px;
        border-top: 5px solid #009688;
        font-size: 20px;
    }