<?xml version="1.0" encoding="utf-8" ?>
<CacheServiceSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <Providers>
    <CacheServiceProvider>
      <Type>Xms.Services.Caching.MemoryCacheService</Type>
      <Enabled>true</Enabled>
      <Priority>2</Priority>
    </CacheServiceProvider>
    <CacheServiceProvider>
      <Type>Xms.Services.Caching.ThirdPartyCacheService</Type>
      <Enabled>false</Enabled>
      <Priority>1</Priority>
      <TimeOut>10</TimeOut>
      <Host>http://localhost:8082</Host>
    </CacheServiceProvider>
  </Providers>
</CacheServiceSetting>