@{
    Layout = null;
}
@{
    DialogModel dialogModel = ViewData["DialogModel"] as DialogModel;
}
<!-- （Modal） -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog"
     aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="navGroupModalLabel">
                    导入数据
                </h4>
            </div>
            <div class="modal-body">
                <form id="importForm" action="/entity/import" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="entityid" value="@ViewBag.entityid" />
                    <div class="form-group">
                        <label>一、请按照数据模板的格式准备要导入的数据</label>
                        <div>
                            <a class="btn btn-link" href="/entity/DownloadImportTemplate?entityid=@ViewBag.entityid">下载数据模板</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>二、请选择数据重复时的操作方式</label>
                        <div>
                            <select class="form-control">
                                <option>覆盖导入</option>
                                <option selected>不导入</option>
                                <option>不导入新数据，仅覆盖重复数据</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>三、请选择需要导入的文件</label>
                        <div>
                            <input id="solutionfile" name="solutionfile" type="file" class="form-control input-sm" />
                            <p class="help-block">文件类型：.csv,.xls</p>
                        </div>
                    </div>
                </form>
                <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
                <script>
                    var ImportModel = {
                        dialogid: '#importModal',
                        dialog: $('#importModal'),
                        callback : @dialogModel.CallBack,
                        submit: function () {
                            $('#importForm').ajaxSubmit(function (response) {
                                //console.log(response);
                                //if(response.IsSuccess){
                                    //ImportModel.dialog.modal('hide');
                                //}
                                //Xms.Web.Alert(response.IsSuccess, response.Content);
                                Xms.Web.OpenDialog('/entity/importmap?entityid=' + ImportModel.dialog.find('input[name=entityid]').val());
                            });
                        }
                    };
                    $(function () {
                        ImportModel.dialog.modal({
                            backdrop: 'static'
                        });
                        ImportModel.dialog.on('hidden.bs.modal', function () {
                            Xms.Web.CloseDialog(ImportModel.dialogid);
                        });
                        $(ImportModel.dialogid + ' button[name=submitBtn]').off('click').on('click', null, function (e) {
                            ImportModel.submit();
                            Xms.Web.CloseDialog(ImportModel.dialogid);
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> 取消
                </button>
                <button type="button" class="btn btn-primary" name="submitBtn">
                    <span class="glyphicon glyphicon-ok"></span> 下一步
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->