.xms-custom .navbar-default {
    background-color: #336699;
    color: #fff;
}

.page-wrap {
    margin-left: 220px;
    transition: all .5s ease;
    /*background-color: #fff;*/
    min-height: 600px;
    height: 100%;
    background: #fff;
}

.page-content {
    overflow-y: auto; /*隐藏会导致列表页变空白*/
    position: relative;
    height: 100%;
}
/*custom*/
body {
    background: #fff;
}
/*按钮*/
.xms-custom .navbar-text {
    padding: 12px 18px 0;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    background: #336699;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.xms-header .navbar-text {
    float: right;
}

.xms-custom .navbar-text > span {
    font-size: 16px;
}

.left-menus-ctrl {
    height: 24px;
    border: 1px solid #fff;
    border-radius: 2px;
    width: 35px;
    background: none;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    padding: 0 5px;
    margin: 7px 20px 0 0px;
    outline: none;
}

    .left-menus-ctrl span.squart {
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
    }

.sideBar-open .left-menus-ctrl > span {
    margin: 3px auto;
}

.sideBar-close .left-menus-ctrl {
    border: 1px solid #a0bed8;
}

    .sideBar-close .left-menus-ctrl > span {
        margin: 3px auto;
        background: #a0bed8;
    }
/*---导航----*/
.xms-sub-nav {
    display: block;
}

.main-user-setting {
}

@media(max-width:768px) {
    .xms-sub-nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .step-body-group .col-sm-1, .step-body-group .col-sm-10, .step-body-group .col-sm-11, .step-body-group .col-sm-12, .step-body-group .col-sm-2, .step-body-group .col-sm-3, .step-body-group .col-sm-4, .step-body-group .col-sm-5, .step-body-group .col-sm-6, .step-body-group .col-sm-7, .step-body-group .col-sm-8, .step-body-group .col-sm-9 {
        float: none;
    }
}

.xms-subn-items-bgcol {
    background: #336699 !important;
    color: #fff !important;
}

.navbar-static-top {
    border-width: 0;
}

side-menu

.nav-title {
    padding-top: 15px;
}

.xms-header .navbar {
    min-height: 40px;
}

.xms-header .nav-title {
    padding-top: 10px;
}
/*---左边菜单----*/
.custom-toggle {
    background: none;
    border: none;
    padding: 0px;
    margin: 25px 0 10px;
}

    .custom-toggle span.icon-bar {
        height: 1px;
        line-height: 1px;
        font-size: 0;
        overflow: hidden;
        background-color: #eee;
        width: 20px;
        display: block;
        margin: 3px;
    }

.sidebar {
    transition: all .5s ease;
}

.sideBar-open .sidebar {
    left: 0;
}

.sideBar-close .sidebar {
    left: -170px;
}

.sideBar-open .page-wrap {
    margin-left: 170px;
}

.sideBar-close .page-wrap {
    margin-left: 0px;
}
/*xms-dropdown*/
.xms-dropdown {
    cursor: pointer;
    transition: transform .2s ease;
}

.xms-dropdown-menu {
    display: none;
}

.xms-dropdown-open .xms-dropdown-menu {
    display: block;
}

.xms-dropdown-open .xms-dropdown {
    transform: rotate(90deg);
}
/*tooltip*/
.xms-tooltip {
    position: absolute;
    max-width: 90%;
    top: 100px;
    z-index: 1000;
}

.xms-tooltip-open .xms-tooltip {
    display: block;
}

.xms-tooltip-arrow {
    transform: rotate(180deg);
    color: #fff;
    position: absolute;
}

.xms-tooltip-content {
    margin-left: 11px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
}

.xms-tooltip-close {
    font-size: 16px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    color: #000;
    right: 5px;
    top: 5px;
}

.jq-toast-wrap {
    cursor: pointer;
}
/**/
.xms-sub-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 998;
    transition: left .7s ease;
}

.sideBar-open .xms-sub-nav {
    left: 170px;
}

.sideBar-close .xms-sub-nav {
    left: 0;
}

.xms-custom .nav li > a {
    color: #fff;
}

.xms-custom .nav li:hover > a {
    color: #fff;
    background: #336699;
}

.xms-custom .nav-second-level > li {
    margin-bottom: 1px;
}

    .xms-custom .nav-second-level > li > a {
        background-color: #6699cc;
    }

        .xms-custom .nav-second-level > li > a:hover {
            background-color: #6699cc;
        }

        .xms-custom .nav-second-level > li > a:focus {
            background-color: #6699cc;
        }

.xms-toolBar {
    background: #333;
    height: 40px;
    border-left: 1px solid #555;
}

    .xms-toolBar a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .xms-toolBar .btn-group {
        line-height: 40px;
        padding: 0 10px;
        margin: 0 5px;
    }

        .xms-toolBar .btn-group:first-child {
        }

        .xms-toolBar .btn-group:nth-child(3) {
            border-right: 1px solid #000;
        }

/*iframe*/
#pageView {
    overflow-y: auto;
}

.dropdown-header {
    color: #ccc;
}

.dropdown-hover {
    position: relative;
    cursor: pointer;
}

    .dropdown-hover:hover > .dropdown-hover-level {
        display: block;
        background: #4A4F63;
    }

.dropdown-menu.dropdown-hover-level {
    cursor: pointer;
    background: #4A4F63;
}

    .dropdown-menu.dropdown-hover-level > ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        background: #4A4F63;
        position: relative !important;
    }

        .dropdown-menu.dropdown-hover-level > ul > li {
        }

            .dropdown-menu.dropdown-hover-level > ul > li a {
                display: block;
                padding: 5px 10px;
            }

                .dropdown-menu.dropdown-hover-level > ul > li a:hover {
                    text-decoration: none;
                }

.xms-subn-items span:hover {
    color: #e22e2f;
}

#side-menu .caret {
    float: right;
    margin-top: 8px;
    display: inline-block;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#side-menu > li {
    cursor: pointer;
}

/*media*/
@media (min-width: 768px) {
    .xms-custom .sidebar {
        position: absolute;
        width: 170px;
        margin-top: 40px;
        top: 0;
        z-index: 999;
    }

    .xms-custom .sidebar {
        width: 170px;
        background-color: #6699cc;
    }

    .nav-right-toolbar {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .nav-right-toolbar > li {
            float: left;
            margin: 0;
            cursor: pointer;
            padding: 0;
            /*border-right: 1px solid #555;*/
            height: 40px;
            width: 55px;
            text-align: center;
            position: relative;
            line-height: 40px;
        }

            .nav-right-toolbar > li.main-user-setting {
                float: left;
                margin: 0;
                cursor: pointer;
                padding: 0;
                /*border-right: 1px solid #555;*/
                height: 40px;
                width: auto;
                text-align: center;
                position: relative;
                line-height: 40px;
            }

                .nav-right-toolbar > li.main-user-setting > a:hover {
                    text-decoration: none;
                }

                .nav-right-toolbar > li.main-user-setting .dropdown-menu {
                    min-width: 100px;
                }

                    .nav-right-toolbar > li.main-user-setting .dropdown-menu > ul {
                        padding-left: 0;
                    }

                    .nav-right-toolbar > li.main-user-setting .dropdown-menu a {
                        color: #555;
                    }

                    .nav-right-toolbar > li.main-user-setting .dropdown-menu li:hover {
                        background: #f5f5f5;
                    }

                        .nav-right-toolbar > li.main-user-setting .dropdown-menu li:hover a {
                            color: #555;
                            background: #f5f5f5;
                        }

        .nav-right-toolbar li span {
            display: inline-block;
        }

        .nav-right-toolbar > li > a > span:hover {
            transform: translateY(2px);
            transition: transform .3s ease;
        }

        .nav-right-toolbar > li:last-child {
            border-right: none;
        }

        .nav-right-toolbar > li.main-user-copyright {
            width: 65px;
        }

            .nav-right-toolbar > li.main-user-copyright ul > li > span {
                color: #555;
            }

            .nav-right-toolbar > li.main-user-copyright ul {
                padding: 10px;
            }

                .nav-right-toolbar > li.main-user-copyright ul > li {
                    white-space: nowrap;
                }

    .xms-tooltip-close {
        display: none;
    }

    .dropdown-menu.dropdown-hover-level {
        left: 100%;
        top: -2px;
        min-width: 170px;
    }

        .dropdown-menu.dropdown-hover-level li {
            white-space: nowrap;
        }
}

@media (max-width:768px) {
    .sidebar {
    }

    .left-menus-ctrl {
        display: none;
    }

    .sideBar-open .page-wrap {
        margin-left: 0;
    }

    .dropdown-hover:hover > .dropdown-hover-level {
        position: fixed;
        top: 10%;
        left: 10%;
        bottom: 10%;
        right: 10%;
    }

    .xms-tooltip {
        position: fixed;
        width: 100%;
        max-width: 100%;
        min-height: 400px;
        top: 50px;
        z-index: 1000;
    }

    .xms-tooltip-arrow {
        display: none;
    }

    .xms-tooltip-content {
        min-height: 400px;
        width: 80%;
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 8px;
    }

    .xms-tooltip-close {
        display: block;
    }

    .xms-header .navbar-text {
        float: left;
    }

    .dropdown-menu.dropdown-hover-level {
        right: 0px;
        left: initial;
    }

    .xms-header .nav-title {
        padding-top: 5px;
    }
}

.xms-header .navbar-header {
    height: 40px;
    background-color: #336699;
    z-index: 1000;
}

.scrolltips {
    position: absolute;
    display: block;
    font-size: 12px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.navsethomepage {
    float: right;
    margin-top: -28px;
    margin-right: 10px;
    display: none;
}

.dropdown-menu .navsethomepage {
    margin-top: -23px;
}

#side-menu > li:hover > .navsethomepage {
    display: inline-block;
}

#side-menu .dropdown-menu > ul > li:hover > .navsethomepage {
    display: inline-block;
}

#side-menu .dropdown-hover-level > li:hover > .navsethomepage {
    display: inline-block;
}

/*themes dark*/
.themes-dark .xms-header .navbar-header {
    background-color: #383D41;
    color: #fff;
}

.themes-dark.xms-custom .navbar-default {
    background-color: #383D41;
    color: #fff;
}

.themes-dark.xms-custom .navbar-text {
    background-color: #383D41;
    color: #fff;
}

.themes-dark .highlight {
    background-color: #4A4F63;
}

.themes-dark .deepc {
    background-color: #33383C;
}

.themes-dark.xms-custom .sidebar {
    background-color: #333743;
}

.themes-dark.xms-custom .nav li:hover > a {
    background-color: #4A4F63;
}

.themes-dark .dropdown-menu.dropdown-hover-level {
    background-color: #4A4F63;
}

    .themes-dark .dropdown-menu.dropdown-hover-level > ul > li a:hover {
        background-color: #383D41;
    }

.themes-dark .toggle-tree .dropdown-menu.dropdown-hover-level {
    background-color: #4A4F63;
    min-width: initial;
}

    .themes-dark .toggle-tree .dropdown-menu.dropdown-hover-level > ul > li a {
        text-overflow: ellipsis;
        overflow: hidden;
    }

.themes-dark .toggle-tree .dropdown-hover > .dropdown-hover-level {
    display: none;
    background: #4A4F63;
    left: 0;
    width: 100%;
}

#side-menu.toggle-tree > li {
    background-color: #43464e
}

.themes-dark .toggle-tree .dropdown-hover:hover > .dropdown-hover-level {
    display: none;
}

.themes-dark .toggle-tree .dropdown-prev.active > .dropdown-toggle {
    display: block;
    border-radius: 0;
}

.themes-dark .toggle-tree .nav-childhead.active > .dropdown-toggle {
    display: block;
    width: 100%;
    border-radius: 0;
}

.themes-dark .toggle-tree .dropdown-hover.active > .dropdown-hover-level {
    display: block;
}

.themes-dark .toggle-tree-wrap {
    overflow-y: auto;
}

.themes-dark .toggle-tree .dropdown-hover.active > a {
    background-color: #6bbf45;
}

.themes-dark #side-menu.toggle-tree .dropdown-hover.active > a > .caret {
    transform: rotate(0deg);
}

.themes-dark #side-menu.toggle-tree .dropdown-prev.active > a > .caret {
    transform: rotate(0deg);
}

.themes-dark.xms-custom .toggle-tree .dropdown-hover:hover > a {
    background-color: #6bbf45;
}

.themes-dark .toggle-tree .dropdown-menu.dropdown-hover-level {
    cursor: pointer;
    background: #4A4F63;
    position: relative;
    margin-bottom: 8px;
    left: 0;
    box-shadow: none;
    width: 100%;
}

    .themes-dark .toggle-tree .dropdown-menu.dropdown-hover-level > ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        background: #4A4F63;
        position: relative !important;
    }

        .themes-dark .toggle-tree .dropdown-menu.dropdown-hover-level > ul > li {
            padding-left: 1em;
        }

.themes-dark.sideBar-close .left-menus-ctrl {
    border: 1px solid #fff;
    transition: all ease .5s;
    width: 26px;
    margin-left: -5px;
}

    .themes-dark.sideBar-close .left-menus-ctrl > span {
        margin: 3px auto;
        background: #fff;
    }

.themes-dark.sideBar-close .sidebar {
    left: 0px;
    width: 45px;
}

    .themes-dark.sideBar-close .sidebar > .sidebar-nav > ul > li a .nav-subtitle {
        display: none;
    }

.themes-dark.sideBar-close #side-menu > li > a > .caret {
    display: none;
}

.themes-dark.sideBar-close #side-menu > li:hover > .navsethomepage {
    display: none;
}

.themes-dark.sideBar-close .page-wrap {
    margin-left: 45px;
}

.themes-dark.sideBar-close .xms-sub-nav {
    left: 45px;
}

@media (min-width: 768px) {
    .themes-dark .xms-custom .sidebar {
        width: 170px;
        background-color: #6699cc;
    }
}

.page-footer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    bottom: 0px;
    transition: opacity ease .2s;
}

    .page-footer:hover {
        opacity: 0;
    }

.copyright {
    color: #555;
    text-align: center;
    font-size: 12px;
    opacity: .7;
}