@model Xms.Web.Framework.Models.PromptModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="xms">
    <meta name="author" content="Xms">
    <link rel="icon" href="/favicon.ico">

    <title>@Model.Message</title>

    <!-- Bootstrap core CSS -->
    <link href="/content/css/bootstrap3.3.5/bootstrap.min.css" rel="stylesheet">
    <!-- Layui core CSS -->
    <link href="/content/customize/layui/css/layui.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/content/css/font-awesome.min.css" rel="stylesheet">
    <link href="/content/css/common.css" rel="stylesheet">
    <link href="/content/css/prompt.css" rel="stylesheet" />

    <script src="/content/js/jquery.min.js"></script>
    <script src="/content/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container">
        <div class="prompt-tips">
            <i class="layui-icon" face=""></i>
            <div class="layui-text">
                好像出错了呢
            </div>
            <h1>
                @Html.Raw(Model.Message)
                <small></small>
            </h1>
            <div class="row">
                @if (Model.ReturnUrl.IsNotEmpty())
                {
                    <a href="@Model.ReturnUrl">@app.T["page_back"]</a>
                }
            </div>
        </div>
    </div>
</body>
</html>